.image_bar{
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

.text-area{
	margin-left:20%;
	margin-right:20%;
}

img {
	width: 100%;
	height: auto;
}
.spacing{
	margin-top: 20px;
}