.search_bar{
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#card{
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

.page_button{
	margin-top: 20px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}