<!DOCTYPE html>
<html>

<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="javascript/search.js"></script>

	
	<title> Welcome to Movie Search Engine</title>
</head>

<body>
	<!--Header-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Movie Search Engine</a>
			</div>
		</div>
	</nav>
	<!--Header ended-->

	<!-- Search Bar-->
	<div class="search_bar">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" id="text_area">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="search_btn">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</span>
		</div>
	</div>
	<!-- Search Bar ended-->

	
	<!-- Cards are been implemented by javascript dynamically-->
	<div id="card">
	</div>

	<!-- Buttons to toggle page-->
	<div class="page_button">
		<nav>
			<ul class="pager">
				<li><a href="#" id="previous">Previous</a></li>
				<li><a href="#" id="next">Next</a></li>
			</ul>
		</nav>
	</div>

</body>
</html>