
<!DOCTYPE html>
<html>
<head>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/movie-detail.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="javascript/movie.js"></script>
  
  <title>Movie-details</title>
</head>

<body>

  <!-- To display the movie image --> 
  <div class="image_bar">
  </div>

  <!-- To display the movie details-->
  <div class="text-area" style="margin-left:25%;margin-right:25%">
  </div>

</body>
</html>